<div class="project-wrapper">
  <table class="table table-bordered table-condensed table-striped table-hover sbTableStyle sbProjectTableStyle" ng-table="sweetProjectsTable">
        <tr ng-repeat="project in $data">
          <td width="5%" data-title="'No'">{{$index+1}}</td>
          <td width="10%" data-title="'Name'" sortable="'name'">{{project.name}}</td>
          <td width="15%" data-title="'Data Sources Count'">{{project.dataSourcesCount}}</td>
          <td width="15%" data-title="'List Count'">{{project.projectListsCount}}</td>
          <td width="15%" data-title="'Contacts Count'">{{project.totalContacts}}</td>
          <td width="15%" data-title="'Created By'" sortable="'createdBy.emailAddress'">{{project.createdBy.fullName?project.createdBy.fullName:project.createdBy.emailAddress}}</td>
          <td width="15%" data-title="'Created On'" sortable="'createdDate'">{{project.createdDate | date:'MM/dd/yyyy h:mma'}}</td>
          <td width="10%" data-title="'Action'"><a class="btn btn-info" ng-click="detailProject(project)">View</a></td>
        </tr>
  </table>
  <!-- <table class="panel-body table table-bordered table-condensed table-striped table-hover sbProjectTableStyle">
      <thead>
          <tr>
              <td width="10%">Name</td>
              <td width="15%">Location</td>
              <td width="15%">Keyword</td>
              <td width="20%">Data Sources</td>
              <td width="15%">Created By</td>
              <td width="15%">Created On</td>
              <td width="10%">Action</td>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="project in projects">
              <td>{{project.name}}</td>
              <td>{{project.state}}</td>
              <td>{{project.term}}</td>
              <td>{{project.dataSourcesString.join(", ")}}</td>
              <td>{{project.createdBy.fullName?project.createdBy.fullName:project.createdBy.emailAddress}}</td>
              <td>{{project.createdDate | date:'MM/dd/yyyy h:mma'}}</td>
              <td><a class="btn btn-info" ng-click="detailProject(project)">View</a></td>
              <a class="btn btn-info" ng-click="editEntry(projectList, currentEntry)">Edit</a>&nbsp;<a class="btn btn-orange" ng-click="removeEntry(projectList, currentEntry)">Remove</a>
          </tr>
      </tbody>
  </table> -->
</div>
<div class="panel-content tab-contents">
    <ul class="nav nav-tabs nav-justified">
        <li ng-repeat = "projectList in projectListTable" ng-class='{"active":selectedProjectListId==projectList._id}'><a href="#" ng-click="selectProjectList(projectList._id)" style="text-align: left;">{{projectList.name}}</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div ng-repeat = "projectList in projectListTable" class="tab-pane fade" ng-class='{"in active":selectedProjectListId==projectList._id}' id="{{projectList._id}}">
          <div class="tabs row">
              <span class="tab"><span>Location</span>: {{(projectList.state || '')}}</span>
              <!-- <span class="tab"><span>Industry</span>: {{selectedProject.industry}}</span> -->
              <span class="tab"><span>KeyWord</span>: {{projectList.term }}</span>
              <span class="tab"><span>Sources</span>: {{ getDataSourceName(projectList.dataSources[0]) }}</span>
          </div>

          <div class="project-list-info">
            <div class="row">
                <div class="col-md-6">
                    <div class="contacts">
                        <p>{{projectList.entries.length}}</p>
                        Contacts
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="control-btns">
                        <!-- <button class="btn btn-info" ng-click="onAddList(projectList)">Add List</button> -->
                        <button class="btn btn-info" ng-click="onBlaster()">Blaster</button>
                        <!-- <button class="btn btn-info" ng-click="onEdit()">Edit</button> -->
                        <button class="btn btn-info" ng-click="onCRM()">CRM</button>
                        <!-- <button class="btn btn-info" ng-click="onCSV()">CSV</button> -->
                        <!-- <button class="btn btn-trash" ng-click="onDelete()">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button> -->
                    </div>
                </div>
            </div>

            <table class="panel-body table table-bordered table-condensed table-striped table-hover sbProjectTableStyle">
                <thead>
                    <tr>
                        <td width="15%">Name</td>
                        <td width="20%">Company</td>
                        <td width="15%">Website</td>
                        <td width="15%">Email</td>
                        <td width="20%">Addres</td>
                        <td width="15%">Phone</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="currentEntry in projectList.entries">
                        <td ng-click="toggleSelection(currentEntry._id)">{{currentEntry.name}}</td>
                        <td ng-click="toggleSelection(currentEntry._id)">{{currentEntry.company}}</td>
                        <td><a href="{{currentEntry.website}}" target="_blank">Website Link</a></td>
                        <td ng-click="toggleSelection(currentEntry._id)">{{currentEntry.email}}</td>
                        <td ng-click="toggleSelection(currentEntry._id)">{{currentEntry.address1?(currentEntry.address1+', '):''}}{{currentEntry.city?(currentEntry.city+', '):''}}{{currentEntry.state?(currentEntry.state+' '):''}}{{currentEntry.zipcode?(currentEntry.zipcode+', '):''}}{{currentEntry.country}}</td>
                        <td ng-click="toggleSelection(currentEntry._id)">{{currentEntry.phone}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
